{% if ecosystems | length > 1 %}
Here is an overview of the actuators state in the ecosystems {{ ", ".join(ecosystems | get_names) }}:
-----------
{% else %}
Here is an overview of the actuators state in the ecosystem {{ "".join(ecosystems | get_names) }}:
{% endif %}
{% for ecosystem in ecosystems %}
{% if ecosystems | length > 1 -%}
{{ ecosystem["name"] }}
{% endif %}
{% for state in ecosystem["actuators_state"] %}
{% if state["active"] %}
- {{ state["name"] | capitalize }}: {{ state["mode"] }} mode, status is {{ state["status"] }}
{% endif %}
{% endfor %}
{% if loop.index < ecosystems | length %}
-----------
{% endif %}
{% endfor %}